@charset "UTF-8";

/** {*/
/*    outline: 1px solid #ff0000;*/
/*}*/



html {
    font-family: sans-serif;
}

html * {
    box-sizing:border-box;
}

body {
    margin: 0 0 0 0;
    background-image: url("../image/sakura.gif");
    background-repeat：repeat-y；
}

.wrapper {
    margin: 0 auto 0 auto;
    max-width: 960px;
}

h1 { 
    font-family: 'Marck Script', cursive;
    font-size:50px;
}

h2 {
    font-family: 'Sawarabi Mincho', sans-serif;
    color:#3f5170;
    font-size: 22px;
 
    margin:20px px 20px 0px
    padding-top:5px;
    padding-left:5px;
}

h4 {
       border-bottom: 3px dotted #3f5170;
      font-size:20px;
}

p {
    line-height: 1.6;
}

a:hover {
    color: #dc143c;
}



.img {
    max-width: 100%;
    height: auto;
}

.logo {
    margin: 50px 0 40px 0;
    line-height:0;
    text-align:center;
}



.nav li {
    display: inline;
    list-stsyle-type:none;
    padding:0 50px 0 50px;
    padding-top:0;
    font-size:20px;
    color:#000000;
}

.nav {
   /*background-color:#006600;*/
   text-align : center;
   
    
}

.nav ul {
    margin: 0 0 0 0;
    padding: 20px 10px 15px 20px;
    background-image: url("../image/Line.png"));
    background-repeat: repeat-x;
    border-bottom:1px solid #3f5170;
}

.nav a:link {
    color:#000000;
    text-decoration: none ;
}

.nav a:visited {
    color:#000000;
}

.nav a:hover {
    color:#FF3399;
}

.drink-menu {
    display: inline-block
}

/*サイトのロゴ*/
.logo a:link {
    color:#000000;
    text-decoration: none ;
}

.logo a:visited {
    color:#000000;
}

.logo a:hover {
    color:#000000;
}

.drink-menu {
    display: inline-block
}

.footer {
    margin-top: 0px;
    padding: 20px 15px 20px 15px;
    font-size:12px;
    color: #3f5170;
}


.keyvisual {
    margin: 15px 0 0 0;
}

.menu-photo {
    text-align : center;
}

/*店舗情報のテーブル*/
.info {
    border-collapse: collapse;
}

.info th, .info td {
    padding: 8px;
    border: 1px solid #bec2c7;
    text-align left;
}

.info th {
    background-color: #dde2ea;
    color: #3f5170;
}

/*メニューの写真と説明文を横に並べる*/
/*レスポンシブ*/
.menu-item {
    display:flex;
    border-bottom: 1px dashed #bec2c7;
    padding:20px 8px;
}

.menu-photo {
    margin-right: 16px;
    flex: 1 1 auto;
}

.menu-text {
    flex: 0 0 336px;
}

/*スマートフォン向け   */
@media (max-width: 767px){
  .logo {
      font-size:40px;
  }
  .nav li {
      display: block;
  }
  .menu-item {
      display: block;
  }
  .menu-photo {
      margin-right: 0;
      width: 100%;
  }
  .menu-text {
      width: 100%;
  }
 
 
}
